{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">
    <section>
        <form method="get" action="{{ url_for('dashboard') }}">
            <select name="category" id="category" class="categories" onchange="this.form.submit()">
                {% for cat in categories %}
                    <option value="{{ cat }}" {% if cat == current_category %}selected{% endif %}>{{ cat }}</option>
                {% endfor %}
            </select>
        </form>
    </section>
    
    <section>
        {% for secret in secrets %}
            <a href="{{ url_for('view_secret', id=secret.id) }}" class="secret-link">
                <div class="secret-list">
                    <div class="label-container">
                        <p class="secret-category">{{ secret.category }}</p>
                        <p class="secret-label">{{ secret.label }}</p>
                        {% if secret.tag %}
                            <span class="secret-tag">{{ secret.tag }}</span>
                        {% endif %}
                    </div>
                    <p class="secret-date">{{ secret.created_at | format_timestamp }}</p>
                </div>
            </a>
        {% else %}
            <p>No secrets found</p>
        {% endfor %}
    </section>
</div>
{% endblock %}